#im{
    width: 100%;
    height: 100%;
}
#im{

}
#il{
    width: 100%;
    height: 100%;
}
#in{
    width: 100%;
    height: 100%;
}
li{
    display: inline-block;
}
li{
    margin-left:50px
}
li{
    color: aliceblue
}
li{
    font-family: Arial, Helvetica, sans-serif
}
li{
    font-size: 30px
}
li:hover{
    color: red

}
li{
    margin-top: 4px
}
ul{
    margin-left: 400px
}
#ir{
    width: 5%;
    height: 5%;
   }
#ir{
    margin-left:2%;
    margin-top:2%;
}
#ir{
    display: inline;
}
body{
    background: Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%)
}
#text{
    width:400px;
    height:100px;
    max-width: 400px;
    max-height: 100px;
}
.div1{
    display: flex;
    justify-content: center;
    margin-left: 150px;
}
.div2{
    display: flex;
    justify-content: center;
    margin-left: 150px;

}
.div3{
    display: flex;
    justify-content: center;  
    margin-left: 150px;

}
#b1{
    background-image: url(../js/ph1.PNG);
    background-repeat: no-repeat;
    width:250px;
    height:250px;
    padding: 100px
}
#b2{
    background-image: url(../js/ph2.PNG);
    background-repeat: no-repeat;
    width:250px;
    height:250px;
    padding: 100px
}
#b3{
    background-image: url(../js/ph3.PNG);
    background-repeat: no-repeat;
    width:250px;
    height:250px;
    padding: 100px
}
#b4{
    background-image: url(../js/ph4.PNG);
    background-repeat: no-repeat;
    width:250px;
    height:250px;
    padding: 100px
}
#b5{
    background-image: url(../js/ph5.PNG);
    background-repeat: no-repeat;
    width:250px;
    height:250px;
    padding: 100px
}
#b6{
    background-image: url(../js/ph6.PNG);
    background-repeat: no-repeat;
    width:250px;
    height:250px;
    padding: 100px
}
#b7{
    background-image: url(../js/ph7.PNG);
    background-repeat: no-repeat;
    width:250px;
    height:250px;
    padding: 100px
}
#b8{
    background-image: url(../js/ph8.PNG);
    background-repeat: no-repeat;
    width:250px;
    height:250px;
    padding: 100px
}
#b9{
    background-image: url(../js/ph9.PNG);
    background-repeat: no-repeat;
    width:250px;
    height:250px;
    padding: 100px
}
.butt{
    display: none;
}